body{
    padding-top: 100px;
}
h3{
    color: #0d0d0d;
    font-family: Verdana;
    font-weight: bold;
    font-size: medium;
}

h1 {
    font-size: x-large;
}


.sidebar-nav-fixed {
    width:10%;
    height: 100%;
    left: 0;
    position: fixed;
    background-color: #333333;
    top: 73px;
    bottom:0;
}

.sidebar-nav-fixed a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    margin-top: 30px;
    transition: 0.3s;
}

.sidebar-nav-fixed a:hover {
    color: #f1f1f1;
}

.bannerLeftLogo {
    width: 200px;
    height: 50px;
    background: url(/static/jda_header_53x34.png) 20px 15px no-repeat;
}
