<!doctype html>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/swipebox.css">
<body>
    <div class="navbar fixed-top" style="background-color: #00b0ff">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #080808;font-size: xx-large">JDA</a>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>