{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="margin-top:20px;">
	<div class="row">
        <div class="col-md-2">
            <div class="sidebar-nav-fixed">
                <a href="{{ url_for('show_lanes') }}" style="color: white">Lanes</a>
            </div>
        </div>
        <div class="col-md-10">
            <h2 class="text-center"><b>Carrier Performance Rating Indicators(KPI's)</b></h2>
            <div class="well" style="max-height: 300px;overflow: auto;">
                <div class="text-dark"><i class="fa fa-check-square" aria-hidden="true"><span style="margin-left: 20px"></span>On Time Pickup/Delivery</i></div>
                <div class="text-dark"><i class="fa fa-check-square" aria-hidden="true"><span style="margin-left: 20px"></span>Fallouts</i></div>
                <div class="text-dark"><i class="fa fa-check-square" aria-hidden="true"><span style="margin-left: 20px"></span>Tender Acceptance</i></div>
                <div class="text-dark"><i class="fa fa-check-square" aria-hidden="true"><span style="margin-left: 20px"></span>Service Levels</i></div>
            </div>
            {% if errors %}
                <br>
                  {% for error in errors %}
                    <h1>{{ error }}</h1>
                  {% endfor %}
                  <br>
            {% endif %}
            {% if results %}
                <h2 style="padding-top: 30px">Carrier Performance Rating</h2>
                <br>
                <div id="results">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Lane</th>
                          <th>No Of Violations</th>
                          <th>Carrier</th>
                          {% if ETA_CONSIDER %}
                            <th>Mean Time(In Secs)</th>
                          {% endif %}
                          <th>Loads Assigned(#)</th>
                          <th>Performance Rating</th>
                      </tr>
                    </thead>
                    {% for key,values in results.items() %}
                        <tr>
                            {% for val in values %}
                                {% if loop.index == 2 %}
                                    <td>{{ val }}</td>
                                    <td>{{ key }}</td>
                                {% else %}
                                    <td>{{ val }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                  </table>
                </div>
            {% endif %}
            {% if results %}
                <form class="form-inline" action="{{ url_for('update_planned_data', lane_id=lane_id, carrier_id=rating_carrier) }}" method="post" style="display: inline">
                    <button class="btn btn-primary" type="submit">View Updated Solution</button>
                </form>
                <button id="charts" class="btn btn-primary" style="display: inline">View Charts</button>
                <div class="container-fluid">
                    <ul id="links" class="nav nav-pills" style="display: none; margin-top: 30px">
                        <li id="ETA" class="active"><a href="#"><b>On Time Pickup/Delivery</b></a></li>
                        <li id="Fallouts"  style="margin-left: 20px"><a href="#"><b>Fallouts</b></a></li>
                        <li id="Tender"  style="margin-left: 20px"><a href="#"><b>Tender Acceptance</b></a></li>
                        <li id="Service"  style="margin-left: 20px"><a href="#"><b>Service Levels</b></a></li>
                        <li id="Overall" style="margin-left: 20px"><a href="#"><b>Overall</b></a></li>
                  </ul>
                </div>
                <ul id="container">
                <div class="row">
                {% for plot_data,title in plot_url|zip(titles) %}
                    {% if plot_data %}
                        {% if loop.index%4 == 0 and loop.index < 5 %}
                            </div><br><div class="row">
                        {% else %}
                            {% if loop.index%2 == 0 and loop.index > 5%}
                                </div><br><div class="row">
                            {% endif %}
                        {% endif %}
                        {% if loop.index < 4 %}
                            <a href="data:image/png;base64, {{ plot_data }}" class="swipebox" title="{{ title}}">
                                <img id="ETA" src="data:image/png;base64, {{ plot_data }}" class="img-responsive" alt="graph" style="display: none" width="500" height="300">
                            </a>
                        {% elif loop.index>=4 and loop.index<6 %}
                            <a href="data:image/png;base64, {{ plot_data }}" class="swipebox" title="{{ title}}">
                                <img id="Fallouts" src="data:image/png;base64, {{ plot_data }}" class="img-responsive" alt="graph" style="display: none" width="500" height="300">
                            </a>
                         {% elif loop.index>=6 and loop.index<8 %}
                            <a href="data:image/png;base64, {{ plot_data }}" class="swipebox" title="{{ title}}">
                                <img id="Tender" src="data:image/png;base64, {{ plot_data }}" class="img-responsive" alt="graph" style="display: none" width="500" height="300">
                            </a>
                        {% elif loop.index>=8 and loop.index<10 %}
                            <a href="data:image/png;base64, {{ plot_data }}" class="swipebox" title="{{ title}}">
                                <img id="Service" src="data:image/png;base64, {{ plot_data }}" class="img-responsive" alt="graph" style="display: none" width="500" height="300">
                            </a>
                         {% elif loop.index>=10 and loop.index<12 %}
                            <a href="data:image/png;base64, {{ plot_data }}" class="swipebox" title="{{ title}}">
                                <img id="Overall" src="data:image/png;base64, {{ plot_data }}" class="img-responsive" alt="graph" style="display: none" width="500" height="300">
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
                </ul>
            {% endif %}
        </div>
    </div>
 </div>
    <script src="/static/lib/jquery-2.1.0.min.js"></script>
    <script src="/static/js/jquery.swipebox.js"></script>
    <script type="text/javascript">
;( function( $ ) {

	$( '.swipebox' ).swipebox();

} )( jQuery );

$(document).ready(function(){
    $("#charts").click(function(){
        $("#links").toggle();
        $("li#ETA").click(function(){
        $("img#ETA").toggle();
        $("img#Fallouts").hide();
        $("img#Tender").hide();
        $("img#Service").hide();
        $("img#Overall").hide();
    });
    $("li#Fallouts").click(function(){
        $("img#Fallouts").toggle();
        $("img#ETA").hide();
        $("img#Tender").hide();
        $("img#Overall").hide();
        $("img#Service").hide();
    });
    $("li#Tender").click(function(){
        $("img#Tender").toggle();
        $("img#Fallouts").hide();
        $("img#ETA").hide();
        $("img#Overall").hide();
        $("img#Service").hide();
    });
    $("li#Overall").click(function(){
        $("img#Overall").toggle();
        $("img#Fallouts").hide();
        $("img#Tender").hide();
        $("img#ETA").hide();
        $("img#Service").hide();
    });
    $("li#Service").click(function(){
        $("img#Overall").hide();
        $("img#Fallouts").hide();
        $("img#Tender").hide();
        $("img#ETA").hide();
         $("img#Service").toggle();
    });
    });

});
</script>
{% endblock %}