{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-nav-fixed">
                    <a href="{{ url_for('show_lanes') }}" style="color: aqua">Lanes</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Planned Data for Lane {{ lane_id }}</h2>
                    </div>
                </div>

                <form action="{{ url_for('carrier_change') }}" method="post">
                 <ul class="nav nav-pills">
                     <li class="active"><button type="submit" class="btn btn-primary">Change Carrier</button></li>
                     <li style="padding: 3px"><input id="myinput" type="text" placeholder="search"></li>
                </ul>

                <div style="top: 120px; height: 800px; overflow: auto;">
                <table id="plandata" class="table table-active">
                    <thead style="background-color: white;color: #00b0ff;">
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">LANE ID</th>
                            <th scope="col">LOAD ID</th>
                            <th scope="col">CARRIER ID</th>
                            <th scope="col">Cost in $</th>
                        </tr>
                    </thead>
                    <tbody id="plantable">
                        {% for index,row in data.iterrows() %}
                            <tr>
                                <td>
                                    <input type="checkbox" id="carrieroption"
                                           name="carrieroption" value="{{ row["Plan_Lane"],row["Plan_Load"],row["Plan_Carrier"],row["Cost"] }}">
                                </td>
                                <td>{{ row["Plan_Lane"] }}</td>
                                <td>{{ row["Plan_Load"] }}</td>
                                <td>{{ row["Plan_Carrier"] }}</td>
                                <td>{{ row["Cost"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                 </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#myinput").on("keyup", function() {
            $(this).css({"background-color":"dimgrey", "color":"white"});
            var value = $(this).val().toLowerCase();
            $("#plantable tr").filter(function() {
             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
{% endblock %}